.navbar{
    margin-bottom: 15px;
    border-radius:0;
    background-color: rgb(255, 255, 255);
    
    padding: 1% 0;
    font-size:1.2em;
    border:0;

}
.navbar-brand{
    float:left;
  
    min-height: 55px;
    padding: 0 15px 5px;
   


}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover{
    color: rgb(32,178,170);
    background-color: white;
    
    

}

.navbar-inverse .navbar-nav{
    color:#d5d5d5;
    
}



.panel-body {
    background:#FFFFFd; 
    color: rgb(0, 0, 0);
    border-color: whitesmoke;
   
}



img{
    float:left;  
}

body{
    background-color: #C1CDCD;
}

 footer { 
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
    color: white;
    text-align: center;
} 
